<!-- banner -->
<div class="banner">
    <div class="bannerC owl-carousel owl-theme" style="max-width: 95%;">
    
        
        {% if banner %}
            {% for item in banner %}
                <div class="item" style="height: 17rem; float:right; display:flex">
                    <div class="text" style=" color:white;">
                        <h1 style="font-size:5rem;margin-top: 160px; background:rgb(128, 128, 128, 0.5);padding-inline:20px ">{{item.banner_text}}</h1>
                    </div>
                    <img style="width: 25rem;" src="{{item.image.url}}" alt="">
                </div>
            {% endfor %}
        {% endif %}
            
    
    </div>
</div>