{% extends 'base.html' %}

{% block title %}
  
{% endblock title %}

{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block content %}
    <div style="text-align: center; justify-content:center;">
        <h1 >Thanks for Pratronizing us</h1>
        <p>Did you enjoy our service?</p>
        <div>
            <select name="" id="">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <button id="yes">Submit</button>
        </div>
    </div>
{% endblock content %}

{% block footer %}
   {% include "footer.html" %}
{% endblock footer %}